{% extends "base.html" %}

{% block title %}Удаление новостей - {{ super() }}{% endblock %}

{% block content %}
<div class="delete-news-page">
    <h2>Удаление новостей</h2>
    <ul>
    {% for news in news_list %}
        <li>
            <form method="POST" action="{{ url_for('delete_news') }}">
                <span>{{ news.title }}</span>
                <input type="hidden" name="news_id" value="{{ news.id }}">
                <button type="submit" class="btn">Удалить</button>
            </form>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
